<h2>Create a New Post</h2>
<%= form_for Post.new do |f| %>
  <%= f.hidden_field :author_id, value: current_user.id %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>
  <%= f.submit 'Create Post' %>
<% end %>
